<div class="einzelteil_wrapper">
  {{createPreisMaps()}}
<table>
  <tr>
    <th>Id</th>
    <th>Anzahl</th>
    <th>Preis</th>
    <th>Beschreibung</th>
    <th>Kategorie</th>
    <th>Farbe</th>

  </tr>
  <tr *ngFor="let einzelteil of einzelteile" style="{{getElementFarbe(einzelteil.einelteil_id, einzelteil.preis)}}">
    <td> {{einzelteil.einelteil_id}}</td>
    <td> {{einzelteil.anzahl}}x</td>
    <td> {{einzelteil.preis.toLocaleString('de-DE', { style: 'currency', currency: 'EUR' })}}</td>
    <td> {{einzelteil.beschreibung}}</td>
    <td> {{einzelteil.kategorie}}</td>
    <td> {{einzelteil.farbe}}</td>


  </tr>
</table>
</div>

