.vorschlaege td {
  font-family: Poppins,sans-serif;
  color: var(--color-text);


}


.vorschlaege {
  table-layout:fixed;
  z-index: 5;
  font-size : 20px ;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-spacing: 0;
  border-collapse: separate;
  align-items: center;

}
