<div class="einzelteil_wrapper">

<table>
  <tr>
    <th>Id</th>
    <th>Anzahl</th>
    <th>Beschreibung</th>
    <th>Kategorie</th>
    <th>Farbe</th>
    <th>Verfügbar bei</th>
  </tr>
  <tr *ngFor="let einzelteil of einzelteile">
    <td> {{einzelteil.einelteil_id}}</td>
    <td> {{einzelteil.anzahl}}x</td>
    <td> {{einzelteil.beschreibung}}</td>
    <td> {{einzelteil.kategorie}}</td>
    <td> {{einzelteil.farbe}}</td>
    <td> {{andereShops(einzelteil.einelteil_id)}}</td>

  </tr>
</table>
</div>
