<div class="header">
  <div class="nav">
      <div class="leftNav">
      <div class="hamburger-menu">
          <input id="menu__toggle" type="checkbox" />
          <label class="menu__btn" for="menu__toggle">
            <span></span>
          </label>
          <ul class="menu__box">
            <br>
            <br>
            <br>
            <br>
            <li><a class="menu__item" href="suche">Home</a></li>
            <li><a class="menu__item" href="login">Login</a></li>
            <li><a class="menu__item" href="registrierung">Registrierung</a></li>
            <li><a class="menu__item" href="liste">Meine Liste</a></li>
            <li><a class="menu__item" href="impressum">Impressum</a></li>
            <li><a class="menu__item" href="rechtliches">Rechtliches</a></li>

          </ul>
        </div>
      </div>
      </div>
  <div class="centerNav">
    <img src="./assets/neuGCT.svg">
  </div>
  <div class="rightNav">
    {{updatemode()}}
      <a><div class="switch">
          <input type="checkbox" class="switch__input" (click)="modetoggle()" id="Switch">
          <label class="switch__label" for="Switch">
              <span class="switch__indicator"></span>
              <span class="switch__decoration"></span>
          </label>
        </div></a>

        <div class="rightButtons">
          <a href="login"><button class="loginButton" *ngIf="!auth.isUserLoggedin()" href="login"><p><strong>Login</strong></p></button></a>
          <button class ="loginButton "*ngIf="auth.isUserLoggedin()" href="login" (click)="auth.logoutUser()"><p><strong></strong>Logout</p></button>
          <a href="registrierung"><button class="registrierenButton" href="registrierung"><p><strong>Kostenlos Registrieren</strong></p></button></a>
       </div>
  </div>
</div>
