.sidedesign{
    margin-left: 100%;
    margin-top: 50%;

    height: 300px;
    width: 500px;
    overflow-wrap: break-word;
    font-size: 16px;
    text-align: center;
    font-family: var(--font-family);
    letter-spacing: var(--letter-spacing);
    color: var(--color-text);
    background: var(--color-bg);
    border-radius: var(--border-radius);
    padding: 1% 12%;
    box-shadow: var(--box-shadow);
}

#impressum {
    text-align: center;
    z-index: 3;
    font-size: 130%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
}
