.wrapper{
  //flex: 1;
  //display: flex;
    overflow-y: auto;
  overflow-x: hidden;
    //flex-grow: 1;
    //overflow:;
    height: 100vh;
    width: 100wv;
    display: flex;
    justify-self:start;
    align-self: start;
    background-color: var(--color-bg);

    font-family: var(--font-family);
    letter-spacing: var(--letter-spacing);
    position: relative;
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
;

}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: var(--thumb-shadow);

  background: var(--button_bg_color);
}






