@import "@angular/cdk/overlay-prebuilt.css";

/* @import "@fontsource/roboto";
@import "@fontsource/poppins";
@import "@fontsource-variable/oswald";
@import "@fontsource-variable/manrope"; */

//@import "@coreui/coreui/scss/coreui";


*,
*::before,
*::before{
    margin:0;
    padding:0;
}
:root {
    --color-bg: #A9C9FF;
    --color-text: #000000;
    --color-menu: rgb(230, 230, 255);
    --color-label: #333333;
    --color-border: #333333;
    --color-sidenav: rgba(230, 230, 255, 0.466);
    --line_color : #555555;
    --back_color : #FFECF6;
    --button_bg_color: #f1acac;
    //--scrollbar_bg_hover:
    --font-family: 'Manrope Variable', sans-serif;
    --letter-spacing: 1px;
    --color-objekt: rgba(230, 230, 255, 0.7);
    --color-navStab: rgb(43, 43, 43);
    //--bg-image: url("./assets/taube2k.png");
    --bg-image:linear-gradient(0deg, #A9C9FF 0%, #FFBBEC 100%);
    //--bg-image: #0047b3;
    --bg-image-suche: url("./assets/graupink.png");
    --color-pricing:linear-gradient(0deg, #A9C9FF 0%, #FFBBEC 100%);
    --border-radius: 3%;
    --box-shadow: 1px 1px 20px 1px #0000005b;
    --bg-boxen: rgba(204, 153, 255, 0.32);
    --boxen-font-border-color: 0 0 5px yellow;
    --boxen-font-color: #ffffff;

}
[dark-theme="dark"] {
    --color-bg:#333333;
    --color-text: #ffffe6;
    --color-label: #ffffe6;
    --color-border:#ffffe6;
    --color-sidenav: rgba(204, 204, 204, 0.466);
    --font-family: 'Poppins', sans-serif;
    --line_color : #ffffe6;
    --back_color : #FFECF6;
    --button_bg_color: #333333;
    --color-menu: #333333;
    --color-objekt: rgba(31, 31, 33, 0.7);
    --color-navStab: #ffffe6;
    //--bg-image: url("./assets/backgroundDark.jpg");
    --bg-image:linear-gradient(0deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

// Version 1
//background-color: #A9C9FF;
//background-image: linear-gradient(0deg, #A9C9FF 0%, #FFBBEC 100%);
// Version 2
//background-color: #FFDEE9;
//background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);


/* Version 1 dunkel
background: linear-gradient(0deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
*/
