.sitedesign{

  //text-shadow: var(--boxen-font-border-color);

  height: 100vh;
    width: 180vh;
    display: flex;
    justify-self:start;
    align-self: start;

    //top: 210%;
    margin-top: 5%;
    //margin-left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-family);
    letter-spacing: var(--letter-spacing);
    position: relative;

}
.sitedesign2{
  z-index: 2;
  margin-top: 5%;
    position: relative;
    width: 80vh;
    transform: translate(-50%, -50%);
    font-family: var(--font-family);
    letter-spacing: var(--letter-spacing);
    justify-content: center;
    align-content: center;
}
@media (max-width: 500px) {
  .sitedesign2{
    margin-top: -25%;

    width: 170%;
  }

}
.first{
    z-index: 2;
}
.hcontainer {
  //margin-top: 15%;
  overflow-wrap: break-word;
  font-size: 16px;
  text-align: center;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  color: var(--boxen-font-color);
  background: var(--bg-boxen);
  border-radius: 1%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 10% 5% 5% 5%;
  margin-bottom: 20%;


}
.legoBild img{
  text-align: center;
  //margin-top: 5%;
  //width: 15%;
  //height: 15%;
}
.toyProBild img{
  text-align: center;

  //margin-top: 5%;
  //margin-left: 5%;
}
.brickLinkBild img{
  text-align: center;
  //
  //margin-top: 1%;
  //margin-left: 5%;
}
.tablerow h3{
  text-align: center;
}



#tablerow{
  //grid-template-columns: 0fr;
  transition-timing-function: linear;
  width: 90%;
  display: grid;
  margin: auto;
  //grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));
  grid-template-columns: 1fr 1fr 1fr;
  transition: all 0.3s ease-in-out;
  gap: 8%;
  white-space: pre-line;
  justify-content: center;
  align-content: center;

  overflow-wrap: break-word;

}
.minfiguren_label {
  position: relative;
  margin-top: -40px;
  margin-left: 100px;

}

@media (max-width: 800px) {
  #tablerow {
    margin-top: 10%;
    gap: 2%;
    //background: #000e31;
    grid-template-columns: 0.28fr; /* Ändere die Spaltenanzahl für kleinere Bildschirme */
  }
}
.tablecol{
  width: 100%;
  height: 100%;
  background-color: var(--bg-boxen);
    padding: 3% 3%;
    border-radius: 10px;
    color: var(--boxen-font-color);
    overflow-wrap: break-word;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
  transition: transform 0.3s ease-in-out;

}

//.tablecol:has(#left:active) {
//  grid-template-columns: 3fr 0.5fr 0.5fr;
//}
//
//.tablecol:has(#center:active) {
//  grid-template-columns: 0.5fr 3fr 0.5fr;
//}
//.tablecol:has(#right:active) {
//  grid-template-columns: 0.5fr 0.5fr 3fr;
//}

.tablecol h3{
    font-size: 40px;
    margin-top: 10%;
    font-weight: 500;
}
.tablecol h3 span{
    font-size: 12px;
    overflow-wrap: break-word;
}
.tablecol ul{
    text-align: center;
    margin: 20px 0;
    color: var(--boxen-font-color);
    list-style: none;
}
.tablecol ul li{
    margin: 15px 0;
}
.tablecol button{
    font-family: var(--font-family);
    width: 70%;
    height: 7%;
    text-align: center;
    //margin-left: 16%;
    //margin-right: 16%;
    //padding: -10% -50% -10% -50%;
    border: none;
    color: var(--color-text);
    background-image: var(--button-gradient);
    box-shadow: 1px 1px 15px 1px #0000005b;
    border-radius: 6px;
    margin-top: 10%;
    font-size:100%;
    cursor: pointer;
    transition: 0.5s;
    background-size: 200% auto;
    text-wrap: wrap;
    overflow-wrap: break-word;
    padding-bottom: 10%;
    line-height: 3;
}
.tablecol button::after{
  font-size: 15px;
  color: var(--color-text);
  float: right;
  margin-left: 5px;
  padding-bottom: 15%;

}


.tablecol button:hover{
  box-shadow: 1px 1px 3px 1px #0000005b;;

  background: var();
    background-position: right center; /* change the direction of the change here */
    //color: #fff;
    text-decoration: none;
}


.insidetable {

  padding-right: -10px;
  padding-left: -10px;
  padding-top: 10px;
  margin-right: 40px;
}

.setimage {
  max-width: 85%;
  width: auto;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  border-radius: 18px;
}


/* Design für die Kreisrunde Progressbar */
a {
  text-decoration: none;
}

.made {
  display: block;
  //color: #f2f2f2;
  font-size: 0.75rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.container__progressbars {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-width: 270px;
  width: 100%;
  justify-content: center;
  min-height: 100%;

}

.progressbar {
  position: relative;
  width: 170px;
  height: 170px;

  transform: rotate(-90deg);
  margin: auto;
  margin-left: auto;

}

.progressbar__svg {
  padding: 3px 3px;
  //position: relative;
  width: 100%;
  height: 100%;
}
.progressbar__svg-circle {

  //width: 10%;
  //height: 10%;
  fill: none;
  stroke-width: 10;
  stroke-dasharray: 450;
  //stroke-dashoffset:236;
  //stroke: #A9C9FF;
  stroke-linecap: round;
  //transform: translate(5px, 5px);
}

.shadow-html {
  filter: var(--boxen-font-border-color);
}

.circle-html {
  -webkit-animation: anim_circle-html 1s ease-in-out forwards;
          animation: anim_circle-html 1s ease-in-out forwards;
}

.progressbar__text {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%) rotate(90deg);
}
.legoBild img{
  margin-top: 5%;
  width: 15%;
  height: 15%;
}
.toyProBild img{
  margin-top: 5%;
  margin-left: 5%;
}
.brickLinkBild img{
  margin-top: 1%;
  margin-left: 5%;
}

//@-webkit-keyframes anim_circle-html {
//  to {
//    stroke-dashoffset: 450;
//  }
//}
//
//@keyframes anim_circle-html {
//  to {
//    stroke-dashoffset: 450;
//  }
//}

//switch für Minifiguren
input {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  --s: 30px; /* adjust this to control the size*/

  height: calc(var(--s) + var(--s)/5);
  width: auto; /* some browsers need this */
  aspect-ratio: 2.25;
  border-radius: var(--s);
  margin: calc(var(--s)/2);
  display: grid;
  cursor: pointer;
  background-color: #f7bb97;
  box-sizing: content-box;
  overflow: hidden;
  transition: .3s .1s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:before{
  content: "";
  padding: calc(var(--s)/10);
  --_g: radial-gradient(circle closest-side at calc(100% - var(--s)/2) 50%, #333333 96%,#0000);
  background:
          var(--_g) 0 /var(--_p,var(--s)) 100% no-repeat content-box,
          var(--_g) var(--_p,0)/var(--s)  100% no-repeat content-box,
          #fff;
  mix-blend-mode: darken;
  filter: blur(calc(var(--s)/12)) contrast(11);
  transition: .4s, background-position .4s .1s,
  padding cubic-bezier(0,calc(var(--_i,-1)*200),1,calc(var(--_i,-1)*200)) .25s .1s;
}
input:checked {
  background-color: #a0cbff;
}
input:checked:before {
  padding: calc(var(--s)/10 + .05px) calc(var(--s)/10);
  --_p: 100%;
  --_i: 1;
}

body {
  background: #333333;
  margin:0;
  height:100vh;
  display:grid;
  place-content:center;
  place-items:center;
}


