<div class="sitedesign2">

    <div class="hcontainer">
        <h1 class="first"> Suchergebnis: {{getName()}} - {{getId()}}</h1>
        <h3>Setpreis: {{getPreis()}}</h3>
        <br><br>

        <br>

        <img src="data:image/jpg;base64,{{getImg()}}">
        <input (click)="toggle_minfiguren_zeigen()" type="checkbox" id="besondereteile" name="besondereteile">
        <label for="besondereteile">Minfiguren und andere Spezialteile berücksichtigen</label>

        <br><br>

    </div>

</div>

<div class="sitedesign">

    <div class="tablerow">

        <div class="tablecol">

            <h3> {{getShopName1()}} <span>
        <br>
        <a href="{{getShopUrl1()}}">zum Shop</a></span></h3>
            <br><br><br>

            <ul>

                <li>Einzelteilpreis: {{getEinzelteilpreis(0)}}</li>
                <li>Einzelteile:{{getVerfuegbareEinzelteile(0)}}/{{getEinzelteilAnzahl()}} </li>
                <li>Volständigkeit:{{getEinzelteilVolstaendigkeit(0).toFixed(2)}}%</li>
                <li>
                    <progress id="shop1" value={{getEinzelteilVolstaendigkeit(0).toFixed(2)}} max="100"></progress>
                </li>

            </ul>


            <button (click)="set_clicked_shop(0)">Einzelteile anzeigen</button>
            <app-einzelteile-anzeigen *ngIf="ist_geclickt[0]"
                                      [einzelteile]="getEinzelteileMitPreis(0)"></app-einzelteile-anzeigen>
            <button (click)="set_clicked_shop(3)">Fehlende Einzelteile anzeigen</button>

            <app-fehlende-einzelteile-anzeigen *ngIf="ist_geclickt[3]" [einzelteile]="getEinzelteileOhnePreis(0)"
                                               [shop_id]="0" [einzelteile_toypro]="getEinzelteileMitPreis(1)"
                                               [einzelteile_bricklink]="getEinzelteileMitPreis(2)">

            </app-fehlende-einzelteile-anzeigen>


        </div>
        <div class="tablecol">
            <h3>{{getShopName2()}} <span>
        <br>
        <a href="{{getShopUrl2()}}">zum Shop</a></span></h3>
            <br><br><br>

            <ul>

                <li>Einzelteilpreis: {{getEinzelteilpreis(1)}}</li>
                <li>Einzelteile:{{getVerfuegbareEinzelteile(1)}}/{{getEinzelteilAnzahl()}} </li>
                <li>Volständigkeit:{{getEinzelteilVolstaendigkeit(1).toFixed(2)}}%</li>
                <li>
                    <progress id="shop2" value={{getEinzelteilVolstaendigkeit(1).toFixed(2)}} max="100"></progress>
                </li>


            </ul>
            <button (click)="set_clicked_shop(1)">Einzelteile anzeigen</button>
            <app-einzelteile-anzeigen *ngIf="ist_geclickt[1]"
                                      [einzelteile]="getEinzelteileMitPreis(1)"></app-einzelteile-anzeigen>
            <button (click)="set_clicked_shop(4)">Fehlende Einzelteile anzeigen</button>
            <app-fehlende-einzelteile-anzeigen *ngIf="ist_geclickt[4]" [einzelteile]="getEinzelteileOhnePreis(1)"
                                               [shop_id]="1" [einzelteile_lego]="getEinzelteileMitPreis(0)"
                                               [einzelteile_bricklink]="getEinzelteileMitPreis(2)">
            </app-fehlende-einzelteile-anzeigen>

        </div>
        <div class="tablecol">
            <h3>{{getShopName3()}} <span>
        <br>
        <a href="{{getShopUrl3()}}">zum Shop</a></span>
            </h3>
            <ul>

                <li>Einzelteilpreis: {{getEinzelteilpreis(2)}}</li>
                <li>Einzelteile:{{getVerfuegbareEinzelteile(2)}}/{{getEinzelteilAnzahl()}} </li>
                <li>Volständigkeit:{{getEinzelteilVolstaendigkeit(2).toFixed(2)}}%</li>
                <li>
                    <progress id="shop3" value={{getEinzelteilVolstaendigkeit(2).toFixed(2)}} max="100"></progress>
                </li>

            </ul>
            <button (click)="set_clicked_shop(2)">Einzelteile anzeigen</button>

            <app-einzelteile-anzeigen *ngIf="ist_geclickt[2]"
                                      [einzelteile]="getEinzelteileMitPreis(2)"></app-einzelteile-anzeigen>
            <button (click)="set_clicked_shop(5)">Fehlende Einzelteile anzeigen</button>

            <app-fehlende-einzelteile-anzeigen *ngIf="ist_geclickt[5]"
                                               [einzelteile]="getEinzelteileOhnePreis(2)"
                                               [shop_id]="2" [einzelteile_lego]="getEinzelteileMitPreis(0)"
                                               [einzelteile_toypro]="getEinzelteileMitPreis(1)">

            </app-fehlende-einzelteile-anzeigen>

        </div>
    </div>


</div>

<table id="einzelteil_liste"></table>
<table id="einzelteil_liste_failed"></table>
