<footer><div class="mainImp">
    <div class="row">
        <div class="col">
    <ul>
        <li><a href="suche">Home</a></li>
        <li><a href="liste">Meine Liste</a></li>

    </ul>
    </div>


        <div class="col">
    <ul>

        <li><a href="login">Login</a></li>
        <li><a href="register">Registrierung</a></li>
    </ul>
    </div>
    <div class="col">
<ul>

    <li><a href="impressum">Impressum</a></li>
</ul>
</div>
<div class="col">
    <ul>
        <li class="horizontal" ><a><img [src]="gitHubLight" id="git"></a><p>GitHub</p></li>
        <li class="horizontal" style="margin-left: 100px;"><a><img [src]="linkedInLight" id="linked"></a><p>LinkedIn</p></li>
        <li class="horizontal" style="margin-left: 100px;"> <a><img [src]="discordLight" id="disc"></a><p>Discord</p></li>
    </ul>
    </div>
</div>
</div></footer>
