<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="ansicht_wrapper">
  <div class="kompletteListe">
    <th class="zeileSuchverlauf">Mein Suchverlauf:</th>
    <br>
    <br>
    <div class="listenEintraege" *ngFor="let set of legoSets">
        <br>
        <br>
        <div *ngIf="isNewDay(set['date'])">
          <p class="datumsEintraege"><b>{{getDay(set['date'])}}</b></p>
          <input type="checkbox" name="datum" id="datum" data-toggle="toggle">
        </div>
        
        <div id="buttonZeile" class="buttonZeile">
            <details>
                <summary  class="ausklappButton" (click)="legoSetClicked(set)">{{set['set_id']}} {{set['set_name']}} </summary>
                <div class="ausklappFenster">
                  <app-details class="detailsAnsicht" [legoSet]="set"></app-details>
                  
                  <img class="setBild" src="../../../assets/beispielSetBild.png">
                  <br>
                  <button class="deleteButton" (click)="deleteSet(set)">
                    Löschen
                  </button>
                  <button class="neueSucheButton" (click)="neueSuche()">
                    Neue Suche Starten
                  </button>
                </div>  
              </details>
        </div>
        {{setlastdate(set['date'])}}
    </div>
  </div>
  
</div>