.ansicht_wrapper {
  position: absolute;
  width: 65%;
  margin-top: 5%;
  margin-left: 15%;
  font-size: 20px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  color: var(--color-text);
  background: var(--bg-boxen);
  border-radius:20px;
  padding: 2% 2%;
  box-shadow: var(--box-shadow);
  
}

.kompletteListe {
  margin-right: 3%;
  margin-left: 3%;
  
}

.detailsAnsicht {
}

.detailsAnsicht p {
}

.setBild {
  margin-left: 2%;
  margin-bottom: 2%;
  max-width: 100%;
  max-height: auto;
}
.zeileSuchverlauf {
  border-bottom: solid;
  border-width: 3px;
  width: 1%;
  font-size: 40px;
  text-align: center;
  

}

.listenEintraege {
}

.details{
  user-select: none;
}
.buttonZeile{
}


.buttonZeile:after {
  content: "";
  clear: both;
  display: table;
}


.buttonZeile button:not(:last-child){
  border-right: none;
}

.datumsEintraege {
  padding-top: 1%;
  padding-bottom: 5%;
  font-size: 150%;
  text-align: center;
}

.ausklappFenster{
  /* width: 100%; */
  font-size: 20px;
  font-family: var(--font-family);
  letter-spacing: var(--letter-spacing);
  color: var(--color-text);
  box-shadow: var(--box-shadow);
  border-radius: 6px;
  border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  background-color: white;
  text-align: left;
}


button{
  box-shadow: 0 5px #999;
  cursor: pointer;
} 

button:hover {background-color: var(--button-hover-colour)}

button:active{
  background-color: var(--button-click-colour);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

[data-toggle="toggle"] {
	display: none;
}

.active, ausklappButton:hover {
  background-color: #555;
}

.ausklappButton{
  display: block;
  /* width: 100%; */
  font-family: var(--font-family);
  justify-content: center;
  //margin-right: 16%;
  padding: 1% 1%;
  border: none;
  color: #2a2a2a; //var(--boxen-font-color);
  background-image: var(--button-gradient);
  //background: rgba(144, 66, 239, 0.42);
  // orange FF8E5BFF
  box-shadow: 1px 1px 15px 1px #0000005b;
  font-size: 150%;
  cursor: pointer;
  transition: 0.5s;
  text-align: left;
  //text-transform: uppercase;
  background-size: 200% auto;
  outline: none;
  //box-shadow: 0 0 20px #eee;
  //border-radius: 10px;
}
.ausklappButton::after{
  font-size: 15px;
  color: #777;
  float: right;
  //margin-left: 5px;
  padding-bottom: 15%;
}
.ausklappButton:hover{
  box-shadow: 1px 1px 3px 1px #0000005b;;

  background: var();
  background-position: right center; /* change the direction of the change here */
  //color: #fff;
  text-decoration: none;
}
.ausklappButton:active{
  box-shadow: none;
  transform: translateY(4px);
}




.deleteButton{
  background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
  width: 20%;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #0000005b;
  border-radius: 6px;
  display: block;
  float: right;
  border: none;
  padding: 2% 2%;
  font-size: 100%;
}
.deleteButton::after{
  font-size: 15px;
  color: #777;
  float: right;
  //margin-left: 5px;
  padding-bottom: 15%;
}
.deleteButton:hover{
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.deleteButton:active{
  box-shadow: none;
  transform: translateY(4px);
}

.neueSucheButton{
  width: 20%;
  font-family: var(--font-family);
  justify-content: center;
  margin-right: 0.5%;
  padding: 2% 2%;
  border: none;
  color: #2a2a2a; //var(--boxen-font-color);
  float: right;
  border-radius: 6px;

  background-image: var(--button-gradient);
  //background: rgba(144, 66, 239, 0.42);
  // orange FF8E5BFF
  box-shadow: 1px 1px 5px 1px #0000005b;
  font-size: 100%;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  //text-transform: uppercase;
  background-size: 200% auto;
  //box-shadow: 0 0 20px #eee;
  //border-radius: 10px;
}
.neueSucheButton::after{
  font-size: 15px;
  color: #777;
  float: right;
  //margin-left: 5px;
  padding-bottom: 15%;
}
.neueSuche:hover{
  box-shadow: 1px 1px 3px 1px #0000005b;;

  background: var();
  background-position: right center; /* change the direction of the change here */
  //color: #fff;
  text-decoration: none;
}
.neueSuche:active{
  box-shadow: none;
  transform: translateY(4px);
}
