<div class="wrappercenter">

    <div id="suchleiste">
        <label>Geben Sie eine Lego-Set-Nummer oder einen Namen ein:</label>
      <input id="suche"  [(ngModel)]="eingabeWert" type="text" (input)="getVorschlaegListe()" (keydown.enter)="pruefeEingabe()"
             #box placeholder="75192 oder Millenium Falcon"
             cdkOverlayOrigin #overlaypos="cdkOverlayOrigin">

      <a class="button" (click)="pruefeEingabe()">
            <div class="button__line"></div>
            <div class="button__line"></div>
            <span class="button__text">SUCHE</span>
            <div class="button__drow1"></div>
            <div class="button__drow2"></div>
          </a>
    </div>
  <label class="suchleisteLupe" for="suche">
    <img [src]="searchInLight" (click)="pruefeEingabe()">
  </label>

  <ng-template
    cdkConnectedOverlay
    cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayOrigin]="overlaypos"
    [cdkConnectedOverlayOpen]="isOpen"
    (backdropClick)="isOpen = false"
    (detach)="isOpen = false">
      <app-such-vorschlaege [vorschlaege]="vorschlaege_liste" [bilder]="vorschlaege_bilder"></app-such-vorschlaege>
<!--    <div style="height: 300px;overflow: auto;">-->
<!--    <table id="vorschlaege" class="vorschlaege"></table>-->
<!--    </div>-->
  </ng-template>
    <div *ngIf="neue_suche && lego_set.set_id != eingabeWert" class="loader"></div>
    <h4 *ngIf="!set_existiert">Das gesuchte Set existiert nicht in unserer Datenbank</h4>
</div>



<app-ergebnis [shops]="getShops()" *ngIf="ist_geclickt&&!neue_suche && set_existiert"></app-ergebnis>


